NODE_ENV=development
PORT=3001

JWT_SECRET=57d18bbb9c4e99fa13fc1ea83306f3c162c5b25b30661b11a22c701d1204623b
JWT_EXPIRES_IN=7d



































# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL="postgresql://postgres.pmkraldaqxtmnerbzltb:SA14SK1R!:jk@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL="postgresql://postgres.pmkraldaqxtmnerbzltb:SA14SK1R!:jk@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"


#DATABASE_URL="postgresql://postgres.pmkraldaqxtmnerbzltb:SA14SK1R!:jk@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

REDIS_HOST=localhost
REDIS_PORT=6379
#DIRECT_URL="postgresql://postgres.pmkraldaqxtmnerbzltb:SA14SK1R!:jk@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=